<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'chat-web/css/style.css' %}">
    <title>Chat List</title>
  </head>
  <body>
    <!-- HEADER -->
    <div class="header">
      <div class="container">
        <a href="#" class="logo"
          ><img src="{% static 'chat-web/img/Logo.png' %}" alt="logo"
        /></a>
        <div class="header-right">
          <a class="active">
              <!-- right side profile section -->
              <div class="main">
                  <div class="image">
                    <img src="{% static 'chat-web/img/Profile photo placeholder.png' %}" alt="profile">
                  </div>
                  <div class="name">
                    <p class="chat-name">Ryan Murphy</p>
                    <p class="view-profile">View profile</p>
                  </div>
              </div>
          </a>
        </div>
      </div>
    </div>
    <!-- HEADER -->

    <!-- MAIN BODY -->
    <div class="container">
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <hr>

        <!-- ------------------------------- -->
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <hr>

        <!-- ------------------------------------------------------ -->
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <hr>

        <!-- ------------------------------------------------------ -->
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <hr>

        <!-- ------------------------------------------------------ -->
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <hr>
        
        <!-- ------------------------------------------------------ -->
        <div class="profile-main">
            <div class="profile-image">
                <img src="{% static 'chat-web/img/Chat photo holder.png' %}" alt="">
            </div>
            <a class="name-message">
                <div class="Name">
                    <p>Richard Ortiz</p>
                </div>
                <div class="last-message">
                    <p>Hello, Richard gray this side</p>
                </div>
            </a>
        </div>

        <div class="remove-icon">
            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>

        <!-- ------------------------------------ -->
        <!-- forward/backword arrows -->
        <div class="arrows">
            <a href="#"><img src="{% static 'chat-web/img/Privious Chat.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'chat-web/img/Next Chat.png' %}" alt=""></a>
        </div>
    </div>
    <!-- MAIN BODY -->
  </body>
</html>
