<!DOCTYPE html>
<html lang="en">

{% load static %}
  <script src="{% static 'forgotpassword/js/jquery.js' %}"></script>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- poppins font family URL -->
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'forgotpassword/css/style.css' %}">
  <title>Forgot Password</title>
</head>
<script>

$(document).ready(function(){
    
$('#username-email').change(function(){
        console.log("username-email checking");
        var username_email = $(this).val();
        console.log(username_email)
        let csrftoken = $("[name=csrfmiddlewaretoken]").val();
        mydata = { csrfmiddlewaretoken: csrftoken , 'username_email':username_email };

        $.ajax({
                url: '/check-username-email' ,
                method: "POST",
                data: mydata,
                success: function (data)
                    {
                        if(data['status']=='success')
                        {
                            console.log("successful");
                            console.log(data);
                            alert("This Username or email Not Registered");
                            $('#username-email').val('');

                        }
                        else
                        {
                            console.log("Not available");
                            
                        }
                    },
                error: function (data)
                    {
                        console.log("Error");
                    }
                });
           });


})
</script>
<body>
  <!-- HEADER -->

  <div class="header">
    <div class="container">
      <a href="#default" class="logo"><img src="{% static 'forgotpassword/img/Logo.png' %}" alt="logo" /></a>
      <div class="header-right">
        <a class="active" href="accounts/login">Sign in</a>
      </div>
    </div>
  </div>
  <!-- HEADER -->

  <!-- BODY -->
  {% if messages %}
  {% for m in messages%}
  <p class="container error_message">{{m}}</p>
  {% endfor %}
  {% endif %}
  <form class="container outer-whole" method='post' action="{% url 'forgotpassword' %}">
    <!-- form -->
    {% csrf_token%}
    <div class="outer-whole-left">
      <p class="culprit-text">Forgot Password</p>

      
      <label for="email" class="email__label">Email or username</label>
      <input name="username_email" id="username-email" class="bg-grey" type="text" placeholder="Email" onclick="showEmailLbl()"/>
      <!--<label for="username" class="username__label">Username</label>
      <input name="username" id="username" class="bg-grey" type="text" placeholder="Username" onclick="showConfirmUsernameLbl()"/>-->
      <label for="password" class="password__label">New Password</label>
      <input name="password" id="password" class="bg-grey" type="password" placeholder="New Password" onclick="showPasswordLbl()"/>
      <label for="confirm_password" class="confirm_password__label">Confirm Password</label>
      <input name="confirm_password" id="confirm_password" class="bg-grey" type="password" placeholder="Confirm Password" onclick="showConfirmPasswordLbl()"/>

      
      <div class="signin-both-ways">
        <button class="signin-btn">Update</a></button>
        <!-- <p class="or">OR</p> -->
      </div>
    </div>
    <!-- image -->
    <div class="outer-whole-right">
      <img class="right-img" src="{% static 'forgotpassword/img/imageonline-co-overlayed-image (1).png' %}" alt=""/>
    </div>
  </form>
  <!-- BODY -->

  <script src="{% static 'forgotpassword/js/index.js' %}"></script>
</body>

</html>